
<mat-card>

  <mat-toolbar>
    <mat-toolbar-row>
      <span>Detalhes do Curso</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content class="full-width">

    
    <form [formGroup]="form" class="full-width">

      <!-- Name Input -->
      <mat-form-field>
        <input MatInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <!-- Category Input -->
      <mat-form-field>
        <input MatInput placeholder="Categoria" formControlName="category">
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>Salvar</button>
    <button mat-button>Cancelar</button>
  </mat-card-actions>

</mat-card>


