mat-card{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;

}

mat-toolbar{
  margin-bottom: 40px;
}

mat-card-content{
    form{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 80%;
    }
}

mat-card-actions{
  display: flex;
  
  button{
    margin: 2em 1em;
  }
}

.full-width{
  width: 100%;
}

