

<mat-card>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Detalhes do Curso</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content class="full-width">


    <form [formGroup]="form">

      <!-- Name Input -->
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Nome" formControlName="name" autocomplete="off" required>
      </mat-form-field>

      <!-- Category Input -->
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select placeholder="" formControlName="category">
            <mat-option value="front-end">Front-End</mat-option>
            <mat-option value="back-end">Back-End</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-card-content>

  <!-- Actions Buttons -->
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-stroked-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>



